<h1> This is my template!! </h1>
<p>Many others...like me</p>

{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<u1>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</u1>
    
